@page "/deleteAccesorio"
@page "/deleteAccesorio/{AccesorioID:int}"

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<EditForm Model="accesorio">
	<DataAnnotationsValidator />

	<div class="card-header">
		<h3><strong> Eliminar Accesorios</strong></h3>
	</div>

	<div class="card">
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<label class="fw-bold">Descripci&oacute;n:</label>
					<span>@accesorio.Descripcion</span>
				</div>
			</div>
			<div class="row text-center">
				<label class="fw-bold">¿Seguro que quieres eliminar?</label>
			</div>
		</div>
		<div class="card-footer">
			<div class="text-center">
				<button type="button" class="btn btn-success" @onclick="Eliminar"><i class="fas fa-check"></i> Si</button>
				<a href="/indexAccesorios" class="btn btn-danger"><i class="fas fa-times"></i> No</a>
			</div>
		</div>

	@mensajeTexto
</EditForm>





@code {

	[Parameter]
	public int AccesorioID { get; set; }

	public Accesorios accesorio = new Accesorios();

	protected override async Task OnInitializedAsync()
	{
		if (AccesorioID != 0)
		{
			var buscado = await HttpClient.GetFromJsonAsync<Accesorios>("api/Accesorios/" + AccesorioID);
			if (buscado != null)
			{
				accesorio = buscado;
			}
			else
			{
				await MostrarMensaje("Accesorio no encontrado...", false);
			}
		}
	}


	public async Task Eliminar()
	{
		var guardado = await HttpClient.DeleteAsync("api/Accesorios/" + AccesorioID);
		if (guardado.IsSuccessStatusCode)
		{
			await MostrarMensaje("Eliminado exitoso!", true);
			NavigationManager.NavigateTo("indexAccesorios");
		}
		else
		{
			await MostrarMensaje("Error al eliminar...", false);
		}
	}



	string mensajeTexto = "";
	bool ModalMensaje = false;

	public async Task MostrarMensaje(string mensaje, bool exito)
	{
		mensajeTexto = mensaje;

		if (exito)
		{
			mensajeTexto = "Eliminado con éxito";
		}
		else
		{
			mensajeTexto = "Error al Eliminar";
		}

		ModalMensaje = true;
		StateHasChanged();
		await Task.Delay(3000);
		ModalMensaje = false;
		StateHasChanged();
	}

}
